<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>driver</param-name>
        <param-value>oracle.jdbc.OracleDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:oracle:thin:@Lapy:1521:XE</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>system</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>advjava</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>shopping.MyShoppingListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ShoppingServlet</servlet-name>
        <servlet-class>shopping.ShoppingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeStoreServlet</servlet-name>
        <servlet-class>shopping.SeeStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowItemServlet</servlet-name>
        <servlet-class>shopping.ShowItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingServlet</servlet-name>
        <url-pattern>/ShoppingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeStoreServlet</servlet-name>
        <url-pattern>/SeeStoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowItemServlet</servlet-name>
        <url-pattern>/ShowItemServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
